.block {
  background-color:black;
  opacity: .90;
  color:white;
  padding: 50px;
  width: 50%;
  margin-right:auto;
  margin-left:auto;
  border-radius:15px;
  font-size:1.5em;
  padding-bottom:2%;
}

spacer {
  padding: 10%;
}

body {
background: url('https://steemit-production-imageproxy-upload.s3.amazonaws.com/DQmRWuGKNfUen4BEkdvhbXy8fgvowxFfFZDr161UgqZonuT') no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
}

a{
  color:white;
}